.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    margin: 0;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: span 1;
    background-color: black;
    color: white;
    text-align: left;
    padding-left: 20px;
}

.item2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: span 10;
    background-color: #D3D3D3;
    padding-bottom: 30px;
}

.item3 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: span 10;
    background-color: white;
    padding-left: 20px;
    padding-bottom: 30px;
}

ul {
    list-style-type: none;
    padding-left: 15px;
}

a {
    text-decoration: none;
    color: black;
}

a:active {
    color: blue;
}

a:hover {
    color: red;
}

input {
    width: 32.5%;
    margin-bottom: 10px;
    border-radius: 3px;
    height: 25px;
    border-width: 1px;
    border-color: black;
    background-color: #F0F0F0;
}

select {
    width: 33%;
    margin-bottom: 10px;
    border-radius: 3px;
    height: 30px;
    border-width: 1px;
    border-color: black;
    background-color: #F0F0F0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: top;
}

#submit {
    width: 90px;
    height: 30px;
    background-color: #3399FF;
}

#description {
    height: 150px;
}

a>img {
    width: 20px;
    height: 20px;
    padding-right: 10px;
    padding-top: 5px;
}